In [1]:
#List of high schools
high_school = ["Hernandez High School","Figueroa High School","Wilson High School","Wright High School"]

for school in high_school:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [2]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for school in high_school_types:
    print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [15]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [16]:
#Add the Pandas dependency
import pandas as pd

In [18]:
#Create a Pandas Series from a list
school_series = pd.Series(high_schools)
for school in school_series:
    print (school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [35]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [36]:
schools_df=pd.DataFrame(high_school_dicts)
#school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [114]:
#Three separate lists of info on high schools
school_id = [1,21,2,3,4]

school_name = ["Huang High School", "Figueroa High School","Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District","District","Charter","District","Charter"]

In [115]:
#Initialize a new DataFrame
schools_df = pd.DataFrame()

# Add the list to the new DataFrame
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school

schools_df

   School ID            School Name      Type
0          1      Huang High School  District
1         21   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [60]:
# Create a dictionary of info on high schools
high_schools_dict = {'School ID':school_id,'School Name':school_name,'Type':type_of_school}
#high_schools_dict

In [61]:
# Convert dictionary to DataFrame
schools_df=pd.DataFrame(high_schools_dict)

schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [62]:
title = schools_df.columns

Index(['School ID', 'School Name', 'Type'], dtype='object')

In [66]:
info = schools_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [120]:
#for i in schools_df.index:
id = schools_df['School ID'].values.tolist()
name = schools_df['School Name'].values.tolist()
types = schools_df['Type'].values.tolist()

['District', 'District', 'Charter', 'District', 'Charter']

In [123]:
new_df = pd.DataFrame()

new_df["SID"] = id
new_df["SName"] = name
new_df["T"] = types

new_df

   SID                  SName         T
0    1      Huang High School  District
1   21   Figueroa High School  District
2    2    Shelton High School   Charter
3    3  Hernandez High School  District
4    4    Griffin High School   Charter